{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}




	<div class="input-field col s12 m12 l12">
	{{ form_label(form.user,"User") }}
    {{ form_widget(form.user, {'attr': {'placeholder': 'user'}}) }}

</div>
	<br>
	<div class="input-field col s12 m12 l12">
	{{ form_label(form.billet,"billet") }}
    {{ form_widget(form.billet, {'attr': {'placeholder': 'billet'}}) }}
	
</div>
<br>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
