{% extends ('baseback/base.html.twig') %}


{% block title %}Reservation{% endblock %}

{% block body %}
 

    <table class="table" border="2">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Date_reservation</th>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
            </tr>
        
           <tr>
                <th>User Name</th>
                <td>{{ reservation.user.prenomUtilisateur }} {{ reservation.user.nomUtilisateur }}</td>
            </tr>
             <tr>
                <th>User Email</th>
                <td>{{ reservation.user.mailUtilisateur  }}</td>
            </tr>
                
            <tr>
                <th>Ticket ID</th>
                <td>{{ reservation.billet.id }}</td>
              
            </tr>
            <tr>
                <th>Seat</th>
                <td>{{ reservation.billet.chairBillet }}</td>
              
            </tr>
            <tr>
                <th>Voyage number</th>
                <td> {{ reservation.billet.voyageNum }}</td>
              
            </tr>
             <tr>
                <th>Boarding Time</th>
                <td>{{ reservation.billet.embarquement ? reservation.billet.embarquement|date('Y-m-d') : '' }}</td>
              
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reservation.etatReservation }}</td>
              
            </tr>
           
           
        </tbody>

    </table>


    <a href="{{ path('reservation_index') }}">back to list</a>
<a href="{{ path('traiterreservation', {'id': reservation.id}) }}">Confirm</a>

<a href="{{ path('MailingReservationBillet', {'id': reservation.id}) }}">mail</a>
   {# <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}#}
{% endblock %}
