{% extends ('basefront/base1.html.twig') %}
{% block body %}
<section id="works">
      <div class="container-fluid px-0">
        <div class="row align-items-stretch">
    <div class="col-lg-6 half-page-banner bg-cover"  style=" background: url({{asset('uploads/images/'~post.getImgPost())}})"></div>
          <div class="col-lg-6 bg-light py-lg-5">
            <div class="h-100 d-flex flex-column p-5 justify-content-center">
              <p class="text-serif text-primary mb-0">Title:</p>
              <h2 class="text-uppercase">{{post.getNom()}}</h2>
              <p class="text-muted">{{post.getDescriptionPost()}}</p>
              <a href="{{ path('post_imprimer') }}">Imprimer </a>
              <p class="text-uppercase">Comments : </p>

              <ul class="ps-0">
                {% for c in commentairs %}
                <li>
                  <p class="mb-0 text-muted mb-2"> {{ c.msgCommentaire }} </p>
                </li>
                {% endfor %}
                <li>
                  <form action="{{ path('commentaireadd') }}" method="POST">
                  <input type="hidden" name="poste" value={{post.getId()}}>
                  <input type="text" name="inputComment">
                  <input type="submit" value="commenter"></form>
                </li>
              </ul>
             <div >
             </div></br >
              <h6 class="text-uppercase mb-0">{{post.getUser()}}</h6>
              <p class="text-serif text-primary text-small mb-0">Lead blogger</p>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}