{% extends ('base_back_f/basebackF.html.twig') %}
{% block title %}Gestion des Commentaire
{% endblock %}

{% block body %}
    <h1>Commentaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_commentaire</th>
                <th>Msg_commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.dateCommentaire ? commentaire.dateCommentaire|date('Y-m-d') : '' }}</td>
                <td>{{ commentaire.msgCommentaire }}</td>
                <td>
                 <button class="btn btn-light">    <a href="{{ path('commentaire_show', {'id': commentaire.id}) }}">show</a> </button>
                    <button class="btn btn-light"> <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}">edit</a> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(commentaires) }}


  <button class="btn btn-light">   <a href="{{ path('commentaire_new') }}">Create new</a> </button>
{% endblock %}
